

{% extends 'layouts/base.njk' %}
{% set pageType = 'Post' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
<p class="[ intro__meta ] [ text-500 leading-tight ]">
  {% if date %}
    <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
  {% endif %}
  <span>— {{ helpers.getReadingTime(content) }} minute read</span>
</p>
{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 {{ 'pad-bottom-900' if not site.enableThirdPartyComments }} text-500 ] [ sf-flow ] [ e-content ]">
        {{ content | safe }}

         <ul class="[ post-gallery ]">
      {% for image in galleryImages %}

        <li class="[ post-gallery__item ]">
          <img src="{{site.url}}{{ image }}"/>
        </li>
      {% endfor %}
    </ul>

   
    {# END post #}
 
        <footer class="[ post__footer ] [ pad-top-500 pad-bottom-500 ]">
          <div class="inner-wrapper">
             <div class="prev-next">
             
                <h3> {% if (nextPost.url) %}<a href="{{ nextPost.url }}">Next: {{ nextPost.data.title }}</a> |{% endif %}  <a href="{{ prevPost.url }}">Previous:  {{ prevPost.data.title }}</a> </h3>
              </div>
          </div>
        </footer>
    </article>


    
  </main>
{% endblock %}

{{ content | safe }}
